$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;
$shadow: #0E1A33;

//Global Styles
window {
  background: transparent;
  color: $nord0;
  // font-size: 14px;
  font-family: "FiraCode Nerd Font";
}

.overview {
    background-color: rgba($nord9, 0.6);
}

.item {
    // background-color: rgba($nord8, 0.8);
    border-radius: 0.4em;
    padding: 0.5em;
    margin-bottom: 2em;
    margin-right: 2em;
}

.b {
  border: 0px solid $nord8;
}

.bb {
  border-bottom-width: 1px;
}

.transparent {
  background-color: transparent;
  border: 0;
}

.item:first-child {
    margin-top: 2em;
    margin-left: 2em;
}

.hours {
    font-size: 3em;
}
.minutes {
    font-size: 2em;
    padding-top: 0.7em;
}

calendar {
  color: $nord0;
  padding: 0 2px;
  font-size: 11px;
}

calendar.header {
  color: $nord2;
}

calendar.button {
  color: $nord10;
  padding: 10px;
}

calendar.highlight {
  color: $nord3;
  padding: 2em;
}

calendar:indeterminate {
  color: rgba($nord3, 0.8);
}

calendar:selected {
  color: $nord6;
  background: $nord10;
  border-radius: 10px;
}

graph {
  background: $nord5;
  color: $nord8;
}

.resource-graph {
  margin-top: 8px;
}

.resource-graph box {
  margin-right: 2em;
}
