$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;
$shadow: #0E1A33;

//Global Styles
window {
  background: transparent;
  color: $nord0;
  font-size: 16px;
  font-family: "FiraCode Nerd Font";
}

.item {
    background-color: rgba($nord3, 0.2);
    border-radius: 0.4em;
    padding: 1em;
    margin: 2em;
}

.hours {
    font-size: 2em;
}
.minutes {
    font-size: 1.5em;
    padding-top: 0.7em;
}

graph {
  background: $nord3;
  color: $nord2;
  outline: 1px solid black;
}

.resource-graph {
  margin-top: 8px;
}

.resource-graph label {
  margin-right: 8px;
}
