$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;

//Global Styles
window {
  background-color: $nord0;
  color: $nord4;
  font-size: 13px;
  font-family: "FiraCode Nerd Font";
}

// Styles on classes (see eww.yuck for more information)
.sidestuff > *, .music {
  background-color: $nord1;
  margin-left: 7px;
  padding: 0 10px;
  border-top: 3px solid $nord7;
}
.metric button {
  all: unset;
  padding: 0;
  margin: 0;
}
.metric button > box {
  all: unset;
}
.metric .label {
  all: unset;
  margin-right: 10px;
  font-size: 15px;
}
.sidestuff .icon {
  all: unset;
  font-size: 14px;
  min-width: 14px;
  min-height: 23px;
}

scale trough {
  all: unset;
  background-color: $nord3;
  border-radius: 10px;
  min-width: 5px;
}
scale trough highlight {
  all: unset;
  background-color: $nord8;
  border-radius: 10px;
}
scale trough slider {
  all: unset;
  background-color: $nord10;
  border-radius: 4px;
  margin: -4px -12px;
  box-shadow: 1px 2px 2px $nord1;
}

.workspaces {
  background: $nord1;
}

.workspaces button {
  all: unset;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
  min-height: 14px;
  padding: 2px 5px 0px;
  margin: 4px;
  border-radius: 12px;
  border: 2px solid $nord1;
}
.workspaces button.ws-button-mine {
  border-color: $nord9;
  color: white;
}
.workspaces button.ws-button-visible {
  border-color: $nord9;
}
.workspaces button.ws-button-busy {
  border-color: $nord15;
}
.workspaces button:hover {
  border-color: $nord4;
}

.clipboard-entry {
  all: unset;
  background: $nord1;
  padding: 10px;
}
.clipboard-entry:hover {
  background: $nord3;
}

window.mixer, window.calendar {
  background: rgba(0, 0, 0, 0);
}

.popout {
  padding: 40px;
  font-size: 15px;
}

.popout > box {
  background: rgba(46, 53, 64, 0.85);
  padding: 20px;
  border-radius: 7px;
}

calendar.header {
  background: $nord3;
  font-size: 16px;
}

calendar.button {
  background: $nord2;
  padding: 10px;
}

calendar.highlight {
  color: $nord7;
  font-size: 16px;
}

calendar:indeterminate {
  color: $nord10;
}

calendar:selected {
  color: $nord7;
  background: $nord2;
}

calendar > * {
  padding: 3px;
  border: 2px solid rgba(76, 86, 106, 0.95);
  border-radius: 7px;
  background: rgba(46, 53, 64, 0.85);
}

.popout scale {
  min-height: 100px;
}

.popout box.horizontal > box {
  margin-right: 20px;
}

.popout box.horizontal > box:last-child {
  margin-right: 0;
}
